<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FLASK-CHAT-APP</title>

    <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js'></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<div class="container w-50 p-5 ">
    <h4 id="section1"><strong>채팅방</strong></h4>
<div class="card example-1 scrollbar-deep-purple bordered-deep-purple thin">
    <div class="card-body">
      <ul id='messages'>
        {% for msg in messages %}
            <li>{{msg.name}} {{msg.text}} [{{msg.get_time}}]</li>
        {% endfor %}
    </ul>
    </div>
  </div>

<div class="input-group">
<input class="form-control" type="text" id='anonymous' placeholder="아이디 입력">
<input class="form-control" type="text" id='myMessage' placeholder="메시지 입력">
<button class="btn btn-primary"id='sendbutton'>입력</button>
</div>
</div>

<script type='text/javascript'>
    $(document).ready(function() {
        const socket = io.connect('http://127.0.0.1:5000');
        socket.on('connect', function(){
            socket.send('유저 접속')
        });
        socket.on('message', function(msg){
            $("#messages").append(`<li>${msg}</li>`);
           
        });
        $('#sendbutton').on('click', function(){
            let send_Python = ''
            if($('#anonymous').val()){
                send_Python = `${$('#anonymous').val()} ${$('#myMessage').val()}`;
            }else{
                send_Python = `익명 ${$('#myMessage').val()}`;
            }
    
            socket.send(send_Python);
            $('#myMessage').val('');
            //console.log('send message');
        });
    });
    
    </script>
</body>
</html>